<div class="container text-center d-flex justify-content-center align-items-center" style="height: 500px;">
  <div>
    <h1>About</h1>
    <div style="font-size: 120%;">
      <p>
        ガジェットとは何か？</br>
        それは、</br>
        ちょっと便利な機械装置や</br>
        気の利いた小道具の事を言います</br>
      </p>
    </div>
 </div>
</div>