<div class="container text-center d-flex justify-content-center align-items-center" style="height: 500px;">
  <div>
    <h1>ようこそ、ToolBoxへ</h1>
    <div style="font-size: 120%;">
      <p>
        ここでは様々な便利なガジェットを、</br>
        探し、投稿、そして蓄積し</br>
        便利なガジェットの情報を交換しましょう
      </p>
    </div>
       <%= link_to"ようこそ、ToolBox",gadgets_path, class:"btn btn-dark" %>
 </div>
</div>